.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  border: 2px solid black;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grid-col {
  border: 1px solid black;
  flex: 1;
}

.grid-col-filled {
  background: black;
}

.control {
  width: 500px;
  margin: 0 auto;
  padding-top: 25px;
}

.control button {
  padding: 15px;
  margin-right: 10px;
}

.control > .rol-col-update-section {
  margin-top: 10px;
  /* border: 1px solid black; */
  /* display: inline-flex; */
}

.control > .rol-col-update-section label {
  display: inline-block;
  width: 350px;
  text-align: right;
}

.control > .rol-col-update-section * {
  margin-top: 3px;
}

/* .control > .rol-col-update-section label > input{
  margin: 2px;
} */